* {
  box-sizing: border-box;
}

.img_hover_zoom {
  height: 300;
  overflow: hidden;
}

.img_hover_zoom img {
  -webkit-transition: 0.5s ease-in-out;
}

.img_hover_zoom:hover img {
  transform: scale(1.1);
  transition: 1s;
}

h1,
h2,
h3,
h4,
p,
th,
nav,
nav a,
ol {
  color: white;
}
h4 {
  margin-left: 5px;
}
p {
  margin-left: 10px;
  margin-right: 10px;
}
/*HEADER*/
header {
  margin-top: 0;
  padding-top: 0;
  background-color: rgba(0, 0, 0, 0.514);
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  height: 180px;
}
header h1 {
  padding-left: 185px;
  font-size: 90px;
  padding-top: 80px;
}
/* NAVIGATION*/
nav {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
}
nav a {
  padding: 6px 35% 6px 35%;
  text-decoration: none;
  text-align: center;
  margin-left: 0;
}
nav li {
  text-align: center;
  width: 16.3%;
  min-width: 150px;
  display: inline-block;
  border: 2px solid white;
  margin-top: 3px;
}
nav ul {
  padding-left: 0;
  padding-right: 0;
  list-style-type: none;
  background-color: black;
}
nav li:nth-of-type(odd) {
  background-image: linear-gradient(blue, black);
}
nav li:nth-of-type(even) {
  background-image: linear-gradient(black, blue);
}
nav li:nth-of-type(odd):hover {
  background-image: linear-gradient(blue, white);
}
nav li:nth-of-type(even):hover {
  background-image: linear-gradient(white, blue);
}
nav a:hover {
  font-weight: bold;
}

th {
  vertical-align: top;
  padding: 5px;
}

td {
  align-content: left;
}
/*FOOTER*/
footer {
  width: 100%;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  clear: both;
  z-index: 0;
}

/*HOMEPAGE*/
.home_info {
  background-color: rgba(21, 21, 116, 0.596);
  border: 2px solid black;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 5px;
  display: inline-block;
  height: 250px;
  width: 99.1%;
}
.home_info:nth-of-type(1) {
  width: 49%;
}
.home_info:nth-of-type(2) {
  position: absolute;
  width: 49%;
  background-image: url("images/albums/starman.png");
  background-size: 140px 140px;
  background-repeat: no-repeat;
  background-position-y: 55%;
  background-position-x: 10px;
}
.home_info:nth-of-type(3) {
  height: 500px;
  background-image: url("images/tours/tourimage2.png");
  background-repeat: no-repeat;
  background-size: 95% 370px;
  background-position-y: 95%;
  background-position-x: 50%;
}
.home_info_h2 {
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 2px solid white;
}
.home_info_p {
  margin-left: 20px;
  margin-right: 20px;
}
/*ABOUT*/
#about_info {
  margin: 0;
  float: right;
}
#about_introduction {
  float: left;
  margin-left: 10px;
  background-color: rgba(21, 21, 116, 0.596);
  width: 74%;
}
.about_div {
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position-x: 5px;
  background-position-y: 22px;
  height: 120px;
}
.about_div:nth-of-type(even) {
  background-position-x: 97%;
}
#about_main {
  min-width: 70%;
  max-width: 1500px;
}

table {
  background-color: rgba(21, 21, 116, 0.596);
  border: 2px solid black;
  border-spacing: 4px;
}
td {
  padding: 0px 5px 0px 5px;
  border: 1px solid white;
  text-align: right;
}
td:nth-of-type(even) {
  text-align: left;
}
tr {
  padding: 0 0 0 0;
}
tr:nth-of-type(even) {
  background-color: rgba(27, 27, 155, 0.527);
}

.sub_site {
  float: left;
  display: inline-block;
  margin-right: 40px;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  background: #000000;
  background-image: url("images/main_background.png");
  background-repeat: repeat;
}

#background {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(10px);
  z-index: -1;
}

/* container for music player */
.container {
  position: absolute;
  height: 300pt;
  width: 250pt;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px #000000;
}

.album_container {
  position: absolute;
  height: 300px;
  width: 1200px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px #000000;
  z-index: -1;
}

/* container for play, pause, previous track, next track, and progress bar  */
.box {
  position: absolute;
  height: 50%;
  width: 103%;
  background: -webkit-linear-gradient(45deg, rgb(29, 29, 29), rgb(1, 0, 50));
  z-index: 4;
  bottom: -17%;
}

/* album cover */
#thumbnail {
  position: absolute;
  width: 103%;
  top: -7%;
  transition: 1s;
  z-index: 3;
}

/* track artist */
.song-artist {
  position: absolute;
  z-index: 4;
  color: rgb(21, 21, 116);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  bottom: 21%;
  left: 28%;
}

/* track title */
.song-title {
  position: absolute;
  z-index: 4;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  bottom: 16%;
  left: 28%;
}

/* style for play and pause images */
#play-pause {
  position: absolute;
  height: 50px;
  width: 50px;
  filter: invert(1);
  cursor: pointer;
  bottom: 15%;
  z-index: 4;
  font-size: 53px;
  left: 9%;
}

/* style for next and previous song images */
#next-song,
#previous-song {
  position: absolute;
  height: 30px;
  width: 30px;
  filter: invert(1);
  cursor: pointer;
  bottom: 13.5%;
  font-size: 40px;
  z-index: 4;
}

/* unique style for next song image */
#next-song {
  right: 10%;
}

/* unique style for previous song image */
#previous-song {
  right: 10.3%;
  bottom: 21.5%;
}

/* style for current time of the track */
.currentTime {
  position: absolute;
  height: 50px;
  width: 50px;
  cursor: pointer;
  bottom: -1%;
  left: 17%;
  z-index: 4;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: white;
  align-items: center;
}

/* style for the total length of the track */
.durationTime {
  position: absolute;
  height: 50px;
  width: 50px;
  cursor: pointer;
  bottom: -1%;
  right: 11%;
  z-index: 4;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  align-items: center;
  color: rgb(21, 21, 116);
}

/* style for the progress bar */
#progress-bar {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  z-index: 4;
  height: 5px;
  background: #000000;
  width: 160pt;
  bottom: 4%;
  border-radius: 30px;
  left: 17%;
}

/* style for the progress bar's slider thumb */
#progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -3px;
  margin-left: 0px;
  height: 10px;
  width: 7px;
  border: 0;
  background: -webkit-linear-gradient(
    45deg,
    rgb(213, 213, 213),
    rgb(21, 21, 116)
  );
  border-radius: 30px;
  cursor: pointer;
}

/* style for the progress bar's runnable track */
#progress-bar::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  max-height: 5px;
  border-radius: 30px;
}

/* style to remove blue shade of the progress bar when clicked on/selected */
#progress-bar:focus {
  outline: none;
}
